
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: aliceblue;
    text-decoration: none;
    width: 1024px;
    height: 512px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #535941;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }

.nav-main{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.nicolas{
    
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  

    
}
.primero{
    border: 2px solid blue;
   height: auto;
  column-gap: normal;
  grid-template-columns: 1fr ;

}
.segundo{
    border: 2px solid green;
   height: auto;
}

.tercero{
    border: 2px solid yellow;
   height: auto;
}
.cuarto{
    border: 2px solid brown;
    height: auto;
}
.quinto{
    border: 2px solid purple;
    height: auto;

}  